{# This is the applications' main template. To prevent code duplication, always extend this html twig. #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GelreAirport</title>
    <link href="/css/site.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    {% block body %}
        {# Main content will be rendered here #}
    {% endblock %}
</body>
</html>