{% extends 'Base/base.html.twig' %}

{% block body %}
    <header>
        <h1>GelreAirport</h1>
        <div>
            {% if session().isAuthenticated() %}
                <a href='/logout'>Log out</a>
            {% else %}
                <a href='/login'>Log in</a>
            {% endif %}
        </div>
    </header>
    <nav>
        {# Based on roles, show the navigation items #}
        <a href="/">nav 1</a>
    </nav>
    <main>
        {# Flash messages #}
        {% if session().hasNotification() %}
        <div class="container-invisible">
            {% for notificationType in session().getNotificationTypes %}
                {% if session().hasFlash(notificationType) %}
                    <div class='rw-notification-{{notificationType}}' role="alert">
                        <ul>
                            {% for message in session().getFlash(notificationType) %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="container">
         {% block main %}
             {# Main content will be rendered here #}
         {% endblock %}
        </div>
    </main>
    <footer>
        This is the footer
    </footer>
{% endblock %}