{% extends 'Base/base.html.twig' %}

{% block body %}
    {% include 'Base/Components/header.html.twig' %}
    <nav>
        <div class="mb-2">
            <input type="checkbox"
                id="switch"
                class="checkbox"
                checked/>
            <label for="switch"
                class="toggle">
            </label>
        </div>
        {# Based on roles, show the navigation items #}
        <a class="nav-item {{ (pathInfo == '/vluchten') ? 'active' : '' }}" href="/vluchten" title="Vluchten">
            <img src="/images/airplane-30.png" />
            <span class="nav-item-label">Vluchten</span>
        </a>
        <a class="nav-item {{ (pathInfo == '/boekingen/vluchten') ? 'active' : '' }}" href="/boekingen/vluchten" title="Mijn vluchten">
            <img src="/images/booked-30.png" />
            <span class="nav-item-label">Mijn vluchten</span>
        </a>
    </nav>
    <main>
        {# Flash messages #}
        {% if session().hasNotification() %}
        <div class="container-invisible">
            {% for notificationType in session().getNotificationTypes %}
                {% if session().hasFlash(notificationType) %}
                    <div class='rw-notification-{{notificationType}}' role="alert">
                        <ul>
                            {% for message in session().getFlash(notificationType) %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% block main %}
            {# Main content will be rendered here #}
        {% endblock %}
    </main>
    <footer>
        This is the footer
    </footer>
{% endblock %}