.btn {
    padding: 0.5rem 0.875rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: small;
    transition: background-color 0.3s ease; /* Add transition */
}

.btn a {
    font-size: small;
    color: white;
}

.btn-primary, 
.btn-primary:visited {
    background-color: var(--color-primary);
    color: white;
    transition: background-color 0.3s ease; /* Add transition */
}

.btn-primary:hover, 
.btn-primary a:hover {
    background-color: var(--color-primary-hover);
    transition: none;
}

.btn-danger, .btn-danger a {
    background-color: var(--base-color-red-600);
    color: white;
    transition: background-color 0.3s ease; /* Add transition */
}

.btn-danger:hover {
    background-color: var(--base-color-red-900);
}

.btn-secondary {
    background-color: white;
    color: black;
    width: fit-content;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border 0.3s ease; /* Add transition */
}

.btn-secondary a {
    color: black;
}

.btn-secondary:hover {
    background-color: #f2f2f2;
    border: 1px solid black;
}

.btn-small {
    padding: 0.3rem 0.5rem;
    font-size: small;
    transition: background-color 0.3s ease; /* Add transition */
}

@media only screen and (max-width: 576px) {
    .btn {
        padding: 0.5rem 1rem;
    }

    .btn-small {
        padding: 0.2rem 0.4rem;
    }
}
