.btn {
    padding: 0.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--base-color-blue-50);
    color: var(--base-color-blue-500);
    width: fit-content;
    font-size: medium;
}

.btn-primary a {
    color: var(--base-color-blue-500);
}

.btn-primary:hover {
    background-color: var(--base-color-blue-100);
}

.btn-secondary {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: fit-content;
}

.btn-secondary:hover {
    background-color: rgb(242, 242, 242);
    border: 1px dashed rgb(0, 0, 0);
}

.btn.btn-small {
    padding: 0.2rem 0.4rem;
    font-size: small;
}