/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .d-sm-block {
        display: block;
    }

    .d-sm-none {
        display: none;
    }

    .d-sm-flex {
        display: flex;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .d-md-block {
        display: block;
    }

    .d-md-none {
        display: none;
    }

    .d-md-flex {
        display: flex;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .d-lg-block {
        display: block;
    }

    .d-lg-none {
        display: none;
    }

    .d-lg-flex {
        display: flex;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .d-xl-block {
        display: block;
    }

    .d-xl-none {
        display: none;
    }

    .d-xl-flex {
        display: flex;
    }
}
