/* 3.2 Notifications */
div[class*=rw-notification-] {
    padding: 0.5rem;
    color: var(--text-color-default);
    animation: fadeIn 0.7s ease-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

div[class*=rw-notification-] ul {
    list-style-type: none;
    padding: 0;
}

div[class*=rw-notification-] li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.rw-notification-success {
    background-color: var(--base-color-green-100);
    border-left: 2px solid var(--base-color-green-600);
}

.rw-notification-error {
    background-color: var(--base-color-red-100);
    border-left: 2px solid var(--base-color-red-600);
}

.rw-notification-warning {
    background-color: var(--base-color-yellow-100);
    border-left: 2px solid var(--base-color-yellow-600);
}

.rw-notification-info {
    background-color: var(--base-color-blue-100);
    border-left: 2px solid var(--base-color-blue-600);
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
