/* 3.2 Notifications */
div[class*=rw-notification-] {
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 1rem 0;
    color: var(--text-color-default);
}

div[class*=rw-notification-] ul {
    list-style-type: none;
    padding: 0;
}

div[class*=rw-notification-] li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.rw-notification-success {
    background-color: rgb(217 255 217);
    border-left: 2px solid rgb(37 237 37);
}

.rw-notification-error {
    background-color: rgb(255, 217, 217);
    border-left: 2px solid rgb(237, 37, 37);
}

.rw-notification-warning {
    background-color: rgb(255, 255, 217);
    border-left: 2px solid rgb(237, 237, 37);
}

.rw-notification-info {
    background-color: rgb(217, 217, 255);
    border-left: 2px solid rgb(37, 37, 237);
}