/* 3.1 Table */
.rw-table {
    padding: 0;
    margin: 0;
}

.table-vertical {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: lighter;
    width: fit-content;
}

.table-vertical th {
    padding-right: 1rem;
    line-height: 2rem;
}

.rw-table thead {
    color: var(--text-color-default);
}

.rw-table thead th,
.rw-table tbody td {
    padding: 0.5rem 1rem;
    text-align: left;
    border-bottom: 1px solid var(--base-color-gray-200);
}

.rw-table tfoot td {
    padding: 0.5rem;
}

.rw-table tfoot td .pagination {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.rw-table-no-records {
    text-align: center;
    height: 5rem;
}

.flex-airline-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.flex-airline-logo img {
    width: auto;
    max-width: 3rem;
    height: 2rem;
    padding: 0.5rem 0;
    margin-left: 0.5rem;
}

@media (max-width: 768px) { 
    .rw-table.table-vertical tbody tr th {
        font-weight: normal;
    }

    .rw-table tfoot td .pagination  {
        margin-top: 1rem;
        justify-content: left;
    }

    .rw-table tbody td,
    .rw-table thead th,
    .rw-table thead td {
        padding: 0.25rem 0.5rem;
    }

    /* .rw-table thead tr th:not(:nth-child(-n+4)),
    .rw-table tbody tr td:not(:nth-child(-n+4)) {
        display: none;
    } */

}