{% extends 'Base/layout.html.twig' %}

{% block main %}
<div class="container-invisible">
    <button class="btn btn-primary">
        <a href="/vluchten">Terug naar overzicht</a>
    </button>
</div>
<div class="container">
    <h2>Overzicht vluchten</h2>
        {% include 'Flight/Components/flights-table.htm.twig' %}
    <h2>Details</h2>
</div>
{% endblock %}
