{% extends 'Base/layout.html.twig' %}

{% block main %}
<div class="container-invisible">
    <button class="btn btn-primary">
        <a href="/vluchten">&lt; Terug naar vluchten overzicht</a>
    </button>
</div>
<h2>Overzicht vluchten</h2>
<div class="container mw-fit-content">
    {% include 'Flight/Components/flights-table.htm.twig' %}
</div>
{% endblock %}
