{# This is the applications' main template. To prevent code duplication, always extend this html twig. #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <h1>Here's the header</h1>
    </header>
    <nav>
        <a href="/">nav 1</a>
        <a href="/">nav 2</a>
        <a href="/">nav 3</a>
        <a href="/">nav 4</a>
    </nav>
    <main>
        {# Flash messages #}
        {% if session().hasFlash('success') %}
            <div class="container-invisible">
                <div class='rw-notification-success' role="alert">
                    <ul>
                        {% for message in session().getFlash('success') %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="container">
         {% block main %}
             {# Main content will be rendered here #}
         {% endblock %}
        </div>
    </main>
    <footer>
        This is the footer
    </footer>
</body>
</html>