{% extends 'Base/layout.html.twig' %}

{% block main %}
<div class="container">
    <h2>Welkom op je dashboard!</h2>
    <button class="btn btn-primary">
        <a href="/vluchten">Vluchten</a>
    </button>
</div>
{% endblock %}