{% extends 'Base/layout.html.twig' %}

{% block main %}
<div class="container">
    <h2>Welkom op je dashboard!</h2>
    <p>Je kunt hier navigeren naar de verschillende onderdelen van de applicatie.</p>
</div>
<div class="tiles-grid-layout">
    <div class="tile">
        <a href="/vluchten">
            Alle vluchten 
            <img src="/images/plane-icon.svg" />
        </a>
    </div>
    {% if authorizeView('employee') %}
    <div class="tile">
        <a href="/vluchten/nieuw">
            Nieuwe vlucht 
            <img src="/images/plus-square-line-icon.svg" />
        </a>
    </div>
    {% endif %}
    <div class="tile">
        <a href="/boekingen/vluchten">
            Boekingen
            <img src="/images/calendar-checkmark-icon.svg" />
        </a>
    </div>
</div>
{% endblock %}