{% extends 'Base/layout.html.twig' %}

{% block main %}
<div class="container">
    <h2>Welkom op de homepagina!</h2>
    <p>U kunt hier navigeren naar de verschillende onderdelen van de applicatie.</p>
    <div class="mt-3">
        <a href="/vluchten" class="btn btn-primary">Vluchten</a>
    </div>
</div>
{% endblock %}