/* Cascading style sheet */
/* 1. Layout */
/* 2. Submit form example */

:root {
    --text-color-default: rgb(49, 49, 49);
}

/* 1. Layout */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-color-default);
    margin-bottom: 1rem;
}

.container {
    display: flex;
}

.container > div {
    flex: 1 0 auto;
}

.container > div:not(:last-child) {
    margin-right: 2rem;
    flex: 0 1 auto;
}

img {
    width: 250px;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 12em 1fr; 
    height: 100vh;
}

header {
    padding: 2rem;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

nav a {
    display: block;
    width: 100%;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
    border-radius: 5px;
}

nav a:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
}

header {
    grid-column: span 2;
    display: flex;
}

footer {
    grid-row: span 2;
}

.container,
.container-invisible {
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.3rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

.container-invisible {
    background-color: unset;
    box-shadow: unset;
    padding: 0;
}

.centre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(70vh);
    width: 100vw;
}

form {
    min-width: 300px;
}

/* 2. Submit form example */
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

form label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
}

.btn {
    padding: 0.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(47, 137, 255);
}

.btn-primary:hover {
    background-color: rgb(0, 0, 255);
}

/* 3. Components */

/* 3.1 Table */
.rw-table {
    padding: 0;
    margin: 0;
}

.rw-table thead {
    background-color: rgb(241, 241, 241);
    color: var(--text-color-default);
}

.rw-table thead th,
.rw-table tbody td {
    padding: 0.25rem 1rem;
    text-align: left;
}

/* 3.2 Notifications */
div[class*=rw-notification-] {
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin: 1rem 0;
    color: var(--text-color-default);
    width: clamp(20vw, 100%, 40vw);
}

div[class*=rw-notification-] ul {
    list-style-type: none;
    padding: 0;
}

div[class*=rw-notification-] li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.rw-notification-success {
    background-color: rgb(217 255 217);
    border-left: 2px solid rgb(37 237 37);
}

.rw-notification-error {
    background-color: rgb(255, 217, 217);
    border-left: 2px solid rgb(237, 37, 37);
}

.rw-notification-warning {
    background-color: rgb(255, 255, 217);
    border-left: 2px solid rgb(237, 237, 37);
}

.rw-notification-info {
    background-color: rgb(217, 217, 255);
    border-left: 2px solid rgb(37, 37, 237);
}